body {
    padding: 30px;
    background-color: #88AA00;
    display: block;
    text-align: center;

}

.titulo {
    color: white;
    text-align: center;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;

}

button{
    background-color: #88AA00;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

p{
    padding: 10px;
}

.cont {
    padding: 30px;
    border-radius: 20px;
    background-color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    line-height: 30px;
    text-align: justify;
}


.box {
    
    border: 10px solid rgb(0, 0, 0);
    padding: 40px;
    font-size: medium;
    background-color: rgb(215, 215, 215);
    }

.cont.img {
  width: 75%;
  height: auto;
}

