body {
    padding: 30px;
    background-color: cornflowerblue;

}

img {
  width: 100%;
  height: auto;
}

p{
    padding: 10px;
}

.cont {
    padding: 30px;
    border-radius: 20px;
    background-color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    line-height: 25px;
    width: 100%;
}


.box {
    
    border: 10px solid rgb(0, 0, 0);
    padding: 40px;
    font-size: medium;
    background-color: rgb(215, 215, 215);
    }